{
	"useTabs": false,
	"printWidth": 160,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "none",
	"jsxBracketSameLine": false,
	"parser": "typescript",
	"overrides": [
		{
			"files": "*.less",
			"options": {
				"parser": "less"
			}
		},
		{
			"files": "*.json",
			"options": {
				"parser": "json"
			}
		}
	]
}