.dark-high-contrast {
  --md-sys-color-primary: rgb(148 213 169);
  --md-sys-color-surface-tint: rgb(148 213 169);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(152 217 173);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(239 255 240);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(186 208 190);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(245 252 255);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(167 210 223);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 249 249);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 186 177);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 21 17);
  --md-sys-color-on-background: rgb(223 228 221);
  --md-sys-color-surface: rgb(15 21 17);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 73 66);
  --md-sys-color-on-surface-variant: rgb(245 253 243);
  --md-sys-color-outline: rgb(196 205 196);
  --md-sys-color-outline-variant: rgb(196 205 196);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(223 228 221);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(0 49 26);
  --md-sys-color-primary-fixed: rgb(179 246 200);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(152 217 173);
  --md-sys-color-on-primary-fixed-variant: rgb(0 27 12);
  --md-sys-color-secondary-fixed: rgb(213 237 217);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(186 208 190);
  --md-sys-color-on-secondary-fixed-variant: rgb(7 26 15);
  --md-sys-color-tertiary-fixed: rgb(195 238 252);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(167 210 223);
  --md-sys-color-on-tertiary-fixed-variant: rgb(0 25 32);
  --md-sys-color-surface-dim: rgb(15 21 17);
  --md-sys-color-surface-bright: rgb(53 59 54);
  --md-sys-color-surface-container-lowest: rgb(10 15 12);
  --md-sys-color-surface-container-low: rgb(24 29 25);
  --md-sys-color-surface-container: rgb(28 33 29);
  --md-sys-color-surface-container-high: rgb(38 43 39);
  --md-sys-color-surface-container-highest: rgb(49 54 49);
}
