.light {
  --md-sys-color-primary: rgb(43 106 70);
  --md-sys-color-surface-tint: rgb(43 106 70);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(175 242 196);
  --md-sys-color-on-primary-container: rgb(0 33 16);
  --md-sys-color-secondary: rgb(79 99 84);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(209 232 213);
  --md-sys-color-on-secondary-container: rgb(12 31 20);
  --md-sys-color-tertiary: rgb(59 100 112);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(191 233 248);
  --md-sys-color-on-tertiary-container: rgb(0 31 39);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(246 251 244);
  --md-sys-color-on-background: rgb(24 29 25);
  --md-sys-color-surface: rgb(246 251 244);
  --md-sys-color-on-surface: rgb(24 29 25);
  --md-sys-color-surface-variant: rgb(220 229 219);
  --md-sys-color-on-surface-variant: rgb(65 73 66);
  --md-sys-color-outline: rgb(113 121 113);
  --md-sys-color-outline-variant: rgb(192 201 192);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(44 50 45);
  --md-sys-color-inverse-on-surface: rgb(237 242 235);
  --md-sys-color-inverse-primary: rgb(148 213 169);
  --md-sys-color-primary-fixed: rgb(175 242 196);
  --md-sys-color-on-primary-fixed: rgb(0 33 16);
  --md-sys-color-primary-fixed-dim: rgb(148 213 169);
  --md-sys-color-on-primary-fixed-variant: rgb(12 81 48);
  --md-sys-color-secondary-fixed: rgb(209 232 213);
  --md-sys-color-on-secondary-fixed: rgb(12 31 20);
  --md-sys-color-secondary-fixed-dim: rgb(181 204 186);
  --md-sys-color-on-secondary-fixed-variant: rgb(55 75 61);
  --md-sys-color-tertiary-fixed: rgb(191 233 248);
  --md-sys-color-on-tertiary-fixed: rgb(0 31 39);
  --md-sys-color-tertiary-fixed-dim: rgb(163 205 219);
  --md-sys-color-on-tertiary-fixed-variant: rgb(33 76 88);
  --md-sys-color-surface-dim: rgb(214 219 212);
  --md-sys-color-surface-bright: rgb(246 251 244);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(240 245 238);
  --md-sys-color-surface-container: rgb(234 239 232);
  --md-sys-color-surface-container-high: rgb(229 234 226);
  --md-sys-color-surface-container-highest: rgb(223 228 221);
}
